In [1]:
import numpy as np
import pandas as pd

In [2]:
!pip install retentioneering

In [3]:
from retentioneering import datasets
from retentioneering.eventstream import Eventstream
stream = datasets.load_simple_shop()

## Basic example

In [4]:
stream.sequences()

## Tuning the arguments

In [5]:
stream\
    .split_sessions(timeout=(30, 'm'))\
    .sequences(
        ngram_range=(2, 3),
        weight_col='session_id',
        metrics=['count', 'count_share', 'paths_share'],
        threshold=['count', 1200],
        sorting=['count_share', False],
        heatmap_cols=['session_id_share'],
        sample_size=3
    )

## Comparing groups

In [6]:
np.random.seed(111)
users = set(stream.to_dataframe()['user_id'])
group1 = set(np.random.choice(list(users), size=len(users)//2))
group2 = users - group1

In [7]:
stream.sequences(
    groups=[group1, group2],
    group_names=['A', 'B'],
    metrics=['paths_share', 'count_share'],
    threshold=[('user_id_share', 'delta_abs'), 0],
    sorting=[('count_share', 'delta'), False]
)

/Users/v.kukushkin/rete/retentioneering-tools-new-arch/retentioneering/tooling/sequences/sequences.py:134: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  vec_data.loc[groups[0], "group"] = group_names[0]
/Users/v.kukushkin/rete/retentioneering-tools-new-arch/retentioneering/tooling/sequences/sequences.py:135: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  vec_data.loc[groups[1], "group"] = group_names[1]